<div class="footer-container">
        <img class="logo" src="./assets/img/personal-logo.png" alt="logo">
        <div class="copy-imprint">
                <p> &copy; Christoph Haase 2023</p>
                <a routerLink="/imprint">Imprint</a>
        </div>
        <div class="social-media">
                <a href="https://github.com/Christoph1812" target="_blank">
                        <img src="./assets/img/social-medioa-icons/github-white.svg" alt="Github">
                </a>
                <a href="mailto:christophhaase2@gmx.de" target="_blank">
                        <img src="./assets/img/social-medioa-icons/email-white.svg" alt="Email">
                </a>
                <a href="https://de.linkedin.com/" target="_blank">
                        <img src="./assets/img/social-medioa-icons/linkedin-white.svg" alt="Linkedin">
                </a>
        </div>
</div>