.footer-container {
    padding: 30px 0px;
    background-image: linear-gradient(to right, var(--headlineColor) 0%, rgb(89, 136, 255) 50%, rgb(0, 67, 240));
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    gap: 20px;

    .logo {
        height: 80px;
        width: 80px;
        object-fit: contain;
    }


}

.copy-imprint {
    display: flex;
    flex-direction: column;
    align-items: center;

    a {
        text-decoration: none;
        color: white;
        position: relative;

        &::before {
            content: '';
            position: absolute;
            width: 100%;
            height: 3px;
            border-radius: 4px;
            background-color: white;
            bottom: 0;
            left: 0;
            transform-origin: right;
            transform: scaleX(0);
            transition: transform .3s ease-in-out;
        }

        &:hover::before {
            transform-origin: left;
            transform: scaleX(1);
        }


    }
}

.social-media {
    cursor: pointer;
    display: flex;
    gap: 40px;
}



@media(min-width:800px) {
    .footer-container {
        padding: 40px 80px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }


}