.footer-container {
    padding: 30px 0px;
    background-image: linear-gradient(to right, var(--headlineColor) 0%, rgb(89, 136, 255) 50%, rgb(0, 67, 240));
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    gap: 20px;

    .logo {
        height: 80px;
        width: 80px;
        object-fit: contain;
    }

    .social-media {
        cursor: pointer;
        display: flex;
        gap: 40px;
    }

    a {
        text-decoration: none;
        color: white;
    }
}

@media(min-width:800px) {
    .footer-container {
        padding: 40px 80px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .copy-imprint {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }
}