<div class="about-me-section">
    <img class="blue-bubble-3" src="/assets/img/blue-Bubble.svg" alt="Bubble">
    <div class="about-me-content">
        <div class="headline">
            <h2>Let's work</h2>
            <h2>together</h2>
        </div>
        <div class="content">
            <p>
                I'am a front-end developer based in Kassel, Germany.
                Originally starting as a mechatronics engineer, I built web development skills in just one year,
                including
                HTML, CSS, JavaScript and Angular.
                With my strong technical foundation and keen interest in coding, I have developed impressive solutions
                for
                websites and web applications. From metal and electrical to software development, my versatility is my
                strength.
            </p>
            <p>If you think I'd be a good match for your projects, contact me!</p>
            <div class="button-container">
                <button class="blue-button">Send a message</button>
            </div>
        </div>
    </div>
</div>