.about-me-section {
    background-color: white;


    .blue-bubble-3 {
        position: absolute;
        left: 80%;
        top: calc(100vh + 100px);
        margin-right: 20px;
        width: 60px;
        height: 60px;
    }


}


.about-me-content {
    margin-top: 150px;
    margin-bottom: 50px;
    margin-left: 20px;
    margin-right: 20px;


    h2 {
        color: var(--headlineColor);
        font-size: 64px;
        line-height: 60px;
    }

    p {
        font-size: 23px;
        line-height: 27px;
    }


}

.button-container {
    display: flex;
    justify-content: center;


}