.about-me-section {
    background-color: white;

    .blue-bubble-3 {
        position: absolute;
        left: 80%;
        top: calc(100vh + 100px);
        width: 60px;
        height: 60px;
    }
}


.about-me-content {
    padding: 300px 20px 200px 20px;
}


.headline {
    h2 {
        color: var(--headlineColor);
        font-size: 64px;
        line-height: 40px;
        margin: 0;
        margin-bottom: 20px;
    }
}


.content {
    p {
        font-size: 23px;
        line-height: 27px;
        margin: 0;
        margin-bottom: 20px;
    }
}


.button-container {
    display: flex;
    justify-content: center;
    height: 50px;
}


@media(min-width:1000px) {
    .about-me-content {
        padding: 300px 80px 200px 80px;
        display: flex;
        justify-content: space-between;
    }

    .headline {
        width: 50%;

        h2 {
            color: var(--headlineColor);
            font-size: 80px;
            line-height: 60px;
            margin-bottom: 20px;
        }
    }

    .content {
        width: 50%;

        p {
            font-size: 23px;
            line-height: 27px;
            margin-bottom: 20px;
        }
    }
}


@media(min-width:1400px) {
    .headline {

        h2 {
            color: var(--headlineColor);
            font-size: 121px;
            line-height: 80px;
            margin-bottom: 20px;
        }
    }
}


@media(min-width: 1600px) {
    .about-me-content {
        width: calc(1600px - 160px); // padding abziehen
        margin-left: auto;
        margin-right: auto;
    }
}