<div class="hero-section">
    <img class="blue-bubble-1" src="/assets/img/blue-Bubble.svg" alt="Bubble">
    <img class="blue-bubble-2" src="/assets/img/blue-Bubble.svg" alt="Bubble">

    <div class="hero-container">
        <div class="headline">
            <p>Hello! I am Christoph</p>
            <h1>Frontend</h1>
            <h1>Developer</h1>
        </div>
        <img class="profile-image" src="/assets/img/profile-image.png" alt="logo">
    </div>

    <div class="social-media">
        <a href="https://github.com/Christoph1812"><img src="/assets/img/social-medioa-icons/github-blue.svg"
                alt="Github"></a>
        <a href="mailto:kontakt@beispiel.com?subject=Anfrage%20f%C3%BCr%20Ihr%20Portfolio"><img
                src="/assets/img/social-medioa-icons/email-blue.svg" alt="Email"></a>
        <a href="https://de.linkedin.com/"><img src="/assets/img/social-medioa-icons/linkedin-blue.svg"
                alt="Linkedin"></a>
    </div>

    <div class="scroll-down">
        <div>
            <a routerLink=""><img src="/assets/img/Scroll down .svg" alt="Scroll down"></a>
        </div>

    </div>
</div>