<div class="my-work-section">
    <!-- <img class="blue-bubble-4" src="/assets/img/blue-Bubble.svg" alt="Bubble">
    <img class="blue-bubble-5" src="/assets/img/blue-Bubble.svg" alt="Bubble">
    <img class="blue-bubble-6" src="/assets/img/blue-Bubble.svg" alt="Bubble">
    <img class="blue-bubble-7" src="/assets/img/blue-Bubble.svg" alt="Bubble"> -->
    <div class="my-work-container">
        <h2>My work</h2>
        <p>This page is a sample of my work - please try them out</p>
        <div class="my-work-content">
            <app-project></app-project>
        </div>

    </div>


</div>