.my-work-section {
    background-color: rgb(240, 238, 238);
}

.my-work-container {
    margin: 0px 20px;


    h2 {
        color: var(--headlineColor);
        font-size: 64px;
    }

    p {
        font-size: 16px;
    }
}

@media(min-width:700px) {
    .my-work-container {
        margin: 0px 80px;
    }
}