.my-work-section {
    .blue-bubble-4 {
        width: 45px;
        height: 45px;
    }

    .blue-bubble-5 {
        width: 70px;
        height: 70px;
    }

    .blue-bubble-6 {
        width: 230px;
        height: 230px;
    }

    .blue-bubble-7 {
        width: 270px;
        height: 270px;
    }
}

.my-work-container {
    margin-left: 20px;
    margin-right: 20px;

    h2 {
        color: var('$ligthBlue');
        font-size: 64px;
        margin: 0;
    }

    p {
        font-size: 16px;
    }
}