<div class="contact-section">
    <h2>Contact</h2>
    <p>Got a problem to solve?</p>
    <p>Contact me though this form, I am interested in hearing you, knowing your ideas and contributing to your projects
        with my work.</p>
    <p>Need a Frontend developer? Contact me!</p>
</div>
<form (submit)="sendMail()" #myForm>
    <input typ="text" name="name" #nameField>
    <input type="text" name="email" #emailField>
    <textarea type="text" name="message" #messageField></textarea>
    <button class="blue-button" #sendButton>Say hello ;)</button>
</form>