<div class="contact-section">
    <div class="contact-container">
        <div class="scroll-up-container">
            <a href="#hero">
                <img src="./assets/img/Scroll-up-blue.svg" class="icon" alt="Icon 1">
                <img src="./assets/img/Scroll-up-white.svg" class="icon-hover" alt="Icon 2">
            </a>
        </div>
        <div class="contact-text">
            <h2>Contact</h2>
            <p>Got a problem to solve?</p>
            <p>Contact me though this form, I am interested in hearing you, knowing your ideas and contributing to your
                projects
                with my work.</p>
            <p>Need a Frontend developer? <span>Contact me!</span></p>
        </div>
        <div class="form-container">
            <form [formGroup]="contactForm" (ngSubmit)="sendMail()">
                <div class="input-container">
                    <input type="text" formControlName="name">
                    <label class="placeholder"
                        [class.active]="contactForm.get('name')!.touched || contactForm.get('name')!.dirty">Your name
                    </label>
                    <img class="check-icon" *ngIf="contactForm.controls['name'].valid" src="./assets/img/green-tick.svg"
                        alt="Tick">

                    <ng-container *ngIf="contactForm.controls['name'] as name">
                        <ng-container *ngIf="name.dirty|| name.touched">
                            <ng-container *ngIf="name.errors as errors">
                                <p class="error" *ngIf="errors['required']">
                                    A name must be entered.
                                </p>
                                <p class="error" *ngIf="errors['minlength']">
                                    At least {{errors['minlength'].requiredLength}} letters should be entered.
                                </p>
                                <img class="check-icon" *ngIf="errors['required'] || errors['minlength']"
                                    src="./assets/img/red-exclamation-mark.svg" alt="Exclamation Mark">
                            </ng-container>
                        </ng-container>
                    </ng-container>
                </div>
                <div class="input-container">
                    <input type="text" formControlName="email">
                    <label class="placeholder"
                        [class.active]="contactForm.get('email')!.touched || contactForm.get('email')!.dirty">Your email
                    </label>
                    <img class="check-icon" *ngIf="contactForm.controls['email'].valid"
                        src="./assets/img/green-tick.svg" alt="Tick">

                    <ng-container *ngIf="contactForm.controls['email'] as email">
                        <ng-container *ngIf="email.dirty|| email.touched">
                            <ng-container *ngIf="email.errors as errors">
                                <p class="error" *ngIf="errors['required']">
                                    A email must be entered.
                                </p>
                                <p class="error" *ngIf="errors['email']">
                                    This is not a valid email address.
                                </p>
                                <img class="check-icon" *ngIf="errors['email'] || errors['required']"
                                    src="./assets/img/red-exclamation-mark.svg" alt="Exclamation Mark">
                            </ng-container>
                        </ng-container>
                    </ng-container>
                </div>
                <div class="textarea-container">
                    <textarea type="textarea" formControlName="message"></textarea>
                    <label class="placeholder"
                        [class.active]="contactForm.get('message')!.touched || contactForm.get('message')!.dirty">Your
                        message
                    </label>
                    <img class="check-icon" *ngIf="contactForm.controls['message'].valid"
                        src="./assets/img/green-tick.svg" alt="Tick">
                    <ng-container *ngIf="contactForm.controls['message'] as message">
                        <ng-container *ngIf="message.dirty|| message.touched">
                            <ng-container *ngIf="message.errors as errors">
                                <p class="error" *ngIf="errors['required']">
                                    Your message is empty
                                </p>
                                <img class="check-icon" *ngIf=" errors['required']"
                                    src="./assets/img/red-exclamation-mark.svg" alt="Exclamation Mark">
                            </ng-container>
                        </ng-container>
                    </ng-container>
                </div>
                <div class="privacy-policy-container">
                    <input type="checkbox" formControlName="privacyPolicy" required>
                    <p>I've read the
                        <a routerLink="/privacy-policy"><span class="privacy-policy">privacy-policy</span></a>
                        and agree to the processing of my data as
                        outlined.
                    </p>
                </div>
                <ng-container *ngIf="contactForm.controls['privacyPolicy'] as privacyPolicy">
                    <ng-container *ngIf="privacyPolicy.dirty|| privacyPolicy.touched">
                        <ng-container *ngIf="privacyPolicy.errors as errors">
                            <p class="error" *ngIf="errors['required']">
                                Please accept the privacy privacy policy.
                            </p>
                        </ng-container>
                    </ng-container>
                </ng-container>
                <div class="button-container">
                    <button type="submit" class="blue-button" [disabled]="contactForm.invalid"
                        data-text="Say hello ;)">Say
                        hello ;)</button>
                </div>

            </form>
        </div>
    </div>

    <div id="sucess-message" class="hidden">
        Your message was sent successfully.
    </div>
    <div id="error-message" class="hidden">
        Your message could not be sent.
    </div>
</div>