.contact-section {
    background-color: rgb(240, 238, 238);
    padding-top: 150px;
    padding-bottom: 100px;
    padding-left: 20px;
    padding-right: 20px;
}

.contact-container {
    position: relative;
}

.scroll-up-container {
    position: absolute;
    bottom: -5px;
    left: -50px;
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    .icon,
    .icon-hover {
        object-fit: cover;
        position: absolute;
        transition: opacity 0.3s;
    }

    .icon-hover {
        opacity: 0;
    }

    &:hover {
        .icon {
            opacity: 0;
        }

        .icon-hover {
            opacity: 1;
        }
    }
}




.contact-text {
    h2 {
        margin: 0px;
        margin-bottom: 32px;
        color: var(--headlineColor);
        font-size: 64px;
        line-height: 60px;
    }

    p:nth-child(2) {
        font-weight: 600;
        margin-bottom: 20px;
        font-size: 23px;
        color: var(--headlineColor);
    }

    p:nth-child(3) {
        margin-bottom: 16px;
    }

    p:nth-child(4) {
        margin-bottom: 24px;
        font-size: 16px;
        color: var(--headlineColor);
    }

    span {
        cursor: pointer;
        font-weight: 800;
        color: var(--headlineColor);
    }

}


form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;

    p {
        margin: 2px 0px 0px 20px;
    }
}


.input-container {
    height: 50px;
    position: relative;
    width: 100%;
    background-color: rgb(240, 238, 238);

    input {
        padding-left: 8px;
        outline: none;
        height: 40px;
        width: calc(100% - 12px);
        border: 1px solid var(--headlineColor);
        border-radius: 10px;
        background-color: rgb(240, 238, 238);

        &:hover {
            border: 2px solid var(--headlineColor);
        }

        &:focus {
            border: 1px solid var(--headlineColor) !important;
        }
    }
}


.textarea-container {
    position: relative;
    width: 100%;
    height: 160px;

    textarea {
        outline: none;
        padding-left: 12px;
        padding-right: 48px;
        padding-top: 10px;
        height: calc(160px - 20px);
        width: calc(100% - 10px - 48px);
        border: 1px solid var(--headlineColor);
        border-radius: 10px;
        resize: none;
        background-color: rgb(240, 238, 238);

        &:hover {
            border: 2px solid var(--headlineColor);

        }

        &:focus {
            border: 1px solid var(--headlineColor);
        }
    }
}


.placeholder {
    position: absolute;
    top: 20px;
    left: 12px;
    font-size: 16px;
    transform: translateY(-50%);
    pointer-events: none;
    transition: all 0.3s ease-in-out;
    background-color: rgb(240, 238, 238);
}


.placeholder.active {
    top: 10px;
    left: 30px;
    transform: translateY(-100%) scale(0.8);
    background-color: rgb(240, 238, 238);
}


.check-icon {
    position: absolute;
    top: 9px;
    right: 6px;
}


.error {
    position: absolute;
    top: 100%;
    margin-left: 20px;
    color: red;
}


.privacy-policy-container {
    margin: 0 20px;
    display: flex;
    align-items: center;
    gap: 12px;

    input[type="checkbox"] {

        &:hover {
            cursor: pointer;
        }
    }

    p {
        line-height: 16px;
        font-size: 14px;
    }

    span {
        color: var(--headlineColor);

        &:hover {
            font-weight: 800;
            cursor: pointer;
            text-decoration: underline;
        }
    }
}


.hidden {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #79e734;
    color: white;
    padding: 10px;
    text-align: center;
    z-index: 9999;
}


#sucess-message {
    background-color: #79e734;
}


#error-message {
    background-color: #E0173E;
}


.button-container {
    height: 50px;
}


@media(min-width:800px) {
    .contact-section {
        padding-left: 80px;
        padding-right: 80px;
    }
}


@media(min-width:1000px) {
    .contact-container {
        display: flex;
        justify-content: space-between;
        width: 100%;
        gap: 80px;

        .contact-text {
            width: 50%;
        }

        .form-container {
            width: 50%;
        }
    }
}


@media(min-width: 1600px) {
    .contact-container {
        width: calc(1600px - 160px); // padding abziehen
        margin-left: auto;
        margin-right: auto;
    }
}