<div class="skill-section">
    <h2>Skill Set</h2>
    <div class="skill-icons">
        <div>
            <img src="./assets/img/skills-icon/angular.svg" alt="Angular">
            <p>Angular</p>
        </div>
        <div>
            <img src="./assets/img/skills-icon/typeScript.svg" alt="Typscript">
            <p>Typescript</p>
        </div>
        <div>
            <img src="./assets/img/skills-icon/javaScript.svg" alt="JavaScript">
            <p>JavaScript</p>
        </div>
        <div>
            <img src="./assets/img/skills-icon/html.svg" alt="HTML">
            <p>HTML</p>
        </div>
        <div>
            <img src="./assets/img/skills-icon/firebase.svg" alt="Firebase">
            <p>Firebase</p>
        </div>
        <div>
            <img src="./assets/img/skills-icon/git.svg" alt="GIT">
            <p>GIT</p>
        </div>
        <div>
            <img src="./assets/img/skills-icon/css.svg" alt="CSS">
            <p>CSS</p>
        </div>
        <div>
            <img src="./assets/img/skills-icon/materialDesign.svg" alt="Material Design">
            <p>Material Design</p>
        </div>
        <div>
            <img src="./assets/img/skills-icon/api.svg" alt="Rest-Api">
            <p>Rest-Api</p>
        </div>
        <div>
            <img src="./assets/img/skills-icon/scrum.svg" alt="Scrum">
            <p>Scrum</p>
        </div>
    </div>
</div>