.privacy-policy-container {
    padding: initial;
    margin: initial;

    margin: 120px 20px;

    ul,
    ol {
        padding-left: 20px;
        /* Ändere den Wert entsprechend dem gewünschten Einzug */
    }
}