.project {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 100px 0px;
}

img {
    width: 290px;
    height: 200px;
    object-fit: contain;
}

.text-content {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;

    h3 {
        font-size: 45px;
        color: var(--headlineColor);

    }

    .technologies {
        margin-bottom: 20px;
        font-size: 32px;
        color: var(--headlineColor);

    }

    .description {
        font-size: 16px;
        text-align: center;
    }
}

.my-work-button {
    margin-left: 20px;
    margin-right: 20px;
    display: flex;
    justify-content: space-between;
}

@media(min-width:1000px) {
    .project {
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-end;
        gap: 50px;
    }

    .image-container {
        width: 700px;
        height: 500px;
        display: flex;
        justify-content: center;
        align-items: flex-end;


        img {
            width: 600px;
            height: 400px;
            object-fit: contain;

        }
    }

    .description-container {
        width: 35%;


    }

    .text-content {
        align-items: flex-start;

        .description {
            text-align: start;
        }
    }
}