<div class="project" *ngFor="let project of projects">
    <div class="image-container">
        <img [src]="project.imagePath" alt="{{ project.title }}" />
    </div>
    <div class="description-container">
        <div class="text-content">
            <h3>{{ project.title }}</h3>
            <p class="technologies">{{ project.technologies }}</p>
            <p class="description">{{ project.description }}</p>
        </div>
        <div class="my-work-button">
            <button class="blue-button" data-text="Live test">Live test</button>
            <button class="blue-button" data-text="GitHub">GitHub</button>
        </div>
    </div>

</div>