:root {
    --headlineColor: rgb(89, 136, 255);
    --tablet: 700px;
    --desktop: 1000px;

}

$ligthBlue: rgb(89, 136, 255);

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Montserrat";
    font-weight: 400;

}

h3,
h2,
h1 {
    font-family: "Baloo 2";
    font-weight: 800;
}

.blue-button {
    font-size: 23px;
    padding: 10px 25px;
    border: 2px solid var(--headlineColor);
    color: var(--headlineColor);
    border-radius: 10px;
}




body::-webkit-scrollbar {
    width: 6px;
}

body::-webkit-scrollbar-track {
    background: linear-gradient(to bottom, #EAF0FF, white, #5988FF);
}

body::-webkit-scrollbar-thumb {
    background-color: #5988FF;
    border-radius: 6px;
}

body::-webkit-scrollbar-thumb:hover {
    background-color: #4A69D8;
}